* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #100c35;
  color: white;
}

.container {
  display: flex;  
  min-height: 100vh;  
}

.sidebar {
  display: flex;
  flex-direction: column;  
  /* gap: 2rem;   */
  width: auto;
  background-color: #2e215a;
  padding: 20px;  
}

.input-container {
  display: flex;
  /* border: solid #ffff; */
  align-items: center;
  justify-content: center;
  box-sizing: border-box;  
}

input {
  /* flex: 1; */
  padding: 0.8rem;
  border: 2px solid #ccc;
  border-radius: 15px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;  
  background-color: #D9E1FF;  
}

input:focus {
  outline: none;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}

.btn-add {
  background: none;  
  border: none;    
  display: flex;
  height: auto;  
  width: auto;
  margin-left: 5px;
}

.icon-add {
  height: 3rem;
}

button:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.category-list {
  list-style: none;
  margin-top: 20px;
}

.category-list li {
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.category-list li:hover {
  background-color: #463b7b;
  border-radius: 5px;
}